body{
    background: #333;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: #f2f2f2;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#sudoku-grid, #sudoku-grid-hide{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
td {
    width: 50px;
    height: 35px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #558787;
    border-width: 1px 0 0 1px;
}

/* Add a thicker border to the right and bottom of the 3x3 grid cells */
td:nth-child(3n) {
    border-right-width: 2px;
}

tr:nth-child(3n) td {
    border-bottom-width: 2px;
}
td:nth-child(3n+1) {
    border-left-width: 2px;
}

tr:nth-child(3n+1) td {
    border-top-width: 2px;
}
.sudoku-input {
    width: 70%;
    height: 70%;
    font-size: 20px;
    color:red;
    text-align: center;
    cursor: pointer;
}
input{
    border: none;
    width: 130px;
    background-color:transparent;
}
@media only screen and (max-width: 600px) {
    /* Adjust table cell dimensions and font size for smaller screens */
    td {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
   
}
#topDiv{
    display : flex ;
    justify-content : space-around ;
    align-items :center ;
    flex-direction: row;
    max-width: 330px;
}
button {
    font-size: 14px;
    padding: 3px 5px;
    background-color: #558787;
    border-radius: 3px;
    color: #eee;
}
#timer {
    font-size: 20px;
    margin-top: 10px;
}
.sudoku-input.invalid {
    border: 2px solid red;
}
td.active {
    background-color: #f2f2f2;
}
#board{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 330px; /* Set a maximum width for the Sudoku grid */
    margin: 0 auto; /* Center the grid horizontally */
}
#btndiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    visibility: hidden;
    width: 100%;    
}
.btnNumber{
    flex-basis: calc(10% - 6px);
    border: 1px solid #222;
    background-color: #558787;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    padding: 2px;
    margin-left: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
td.active {
    background-color: #f2f2f2;
    border: 2px solid #007bff; /* Highlight active cell */
}
.sudoku-input.correct {
    border: 2px solid #5cb85c; /* Green border for correct input */
}
.sudoku-input.invalid {
    border: 2px solid #d9534f; /* Red border for invalid input */
}
#instructions {
    margin-bottom: 10px;
}
.sudoku-input.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    } 
}

@keyframes highlightWin {
    from {
        background-color: #333;
    }
    to {
        background-color: #dcdcdc; /* Green background for highlight */
    }
}

/* Add the animation to the class that triggers the highlight */
.sudoku-input.highlight-win {
    animation: highlightWin 2s ease-in-out 3;
}

/* Styling for the modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #192828;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    position: relative;
    color: #fefefe;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

/* Add styles for highlighted rows and columns */
.highlight-row {
    background-color: #222; /* Example background color */
}

.highlight-col {
    background-color: #222; /* Example background color */
}
.colDiv{
    display: flex;
    flex-direction: column;
    height:300px;
    overflow-y: auto;
}
.rowDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}
#scoreBoard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    max-width: 330px;
}
#main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    max-width: 330px;
}
#user-name{
    color:#eee;
    border:1px solid #558787;
    padding: 3px;
}
.sTitle{
    font-size: 26px;
    font-weight: bold;
}
#newGame{
    color: #558787;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #d6d6d6;
    border-radius: 3px;
    padding: 3px;
}
.scoreResult{
    margin-left: 5px;
    color:crimson;
}
.scoreName{
    margin-left: 5px;
}
li{
    margin-top: 2px;
}
li:hover{
    background-color: darkcyan;
}
.scoreBtn{
    cursor: pointer;
}
.scoreBtn:hover{
    background-color: darkolivegreen;
}
